<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Car Showroom</title>

    </head>
    <body>
        <p style="color: black; font-size: 34px;"> 
           <strong>Добро пожаловать в наш автосалон!!!</strong> 
        </p>
        
        <p style="color: black; font-size: 34px;"> 
            <li> Для просмотра списка авто в командной строке дописаываем cars/ </li> 
            <li> Для просмотра детальной информация о конкретном авто нажимаем на "подробнее" </li> 
            <li> Для просмотра статистики продаж по конкретному автомобилю в командной строке дописаываем cars/<id_авто>/sales/ </li> 
         </p>
         
    </body>
</html>